@media only screen and (min-device-width: 768px) {
  .BBOX {
    color: #333;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 50px;

    .BOX {
      color: #333;
      width: 1280px;
      display: flex;
      justify-content: center;

      .IMG {
        margin: 80px;
        display: flex;
        width: 600px;
        height: 550px;
        justify-content: center;

        img {
          width: 600px;
          height: 550px;
          object-fit: fill;
        }
      }
      .IMG_m{
        margin-right: 20px;
      }

      .DESC {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;


        ._1box {
          margin-top: -60px;
          //   height: 200px;
          width: 550px;
          background-color: #fff;
          border: 1px solid #dddddd;
          padding-left: 20px;
          .name {
            font-size: 30px;
            margin-top: 20px;
            font-family: STSong;
            font-weight: 600;
          }
          .publishName {
            margin-top: 20px;
            margin-left: 40px;
          }
          .summary {
            margin-top: 30px;
          }
        }
        ._2box {
          margin-bottom: -50px;
          width: 300px;
          height: 60px;
          border: 1px solid #dddddd;
          padding: 10px;
          font-size: 12px;
          .openTime {
            display: flex;
            justify-content: space-between;
          }
          .counts {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
          }
        }
        ._3box {
          margin-bottom: 30px;
          width: 400px;
          height: 60px;
          .buy {
            font-size: 20px;
            width: 300px;
            height: 60px;
            // margin-left: 20px;
          }
        }
    ._box{
    border: none;
}

      }
    }
    .BOX_m{
        margin-top: 20px;
    border: 1px solid #dddddd;
    margin-left: 60px;
}
  }
  .showList {
    margin-left: 60px;
    width: 1280px;
    .info{
      // display: flex;
        margin-top: 20px;
        border: 1px solid #dddddd;
        padding: 20px;
        .info-text{
            font-weight: 600;
            font-size: 16px;
        }
        .info-title{
          cursor: pointer;
          font-weight: 600;
          padding: 10px;
          border: 1px solid #dddddd;
          width: 500px;
          display: flex;
          justify-content: space-between;

        }
        .info-detail{
            // margin-top: 10px;
            margin-left: 300px;
            width: 600px;
            padding: 10px;
            border: 1px solid #dddddd;
            .detai_1{
                display: flex;
                justify-content: space-between;

            }
            .detai_2{
                margin-top: 10px;
                display: flex;
                 justify-content: space-between;
            }
        }

    }
    .info-2{
      display: flex;
      border: 1px solid #dddddd;
      justify-content:space-between;
    }
    .des{
        margin-top: 20px;
        border: 1px solid #dddddd;
        padding: 20px;
        .txt{
            font-weight: 600;
            font-size: 16px;
        }

    }
    .title {
      display: flex;
      margin-top: -50px;
      justify-content: space-between;
      //   border-bottom: 1px solid #dddddd;
      width: 1280px;
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
      .mystery-Box {
        margin-top: 20px;
        padding-right: 20px;
        .mystery-box {
          cursor: pointer;
          width: 240px;
          height: 300px;
          border: 1px solid #dddddd;
          padding: 20px;
          .BOX-IMG {
            img {
              width: 200px;
              height: 200px;
              object-fit: scale-down;
            }
          }
          .BOX-IMG:hover {
            opacity: 0.7;
          }
          .title {
            width: 200px;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
          .name {
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
    }
    .txt {
      font-weight: 600;
    }
    .text {
      margin-top: 10px;
    }
    .know-power {
      margin-top: 30px;
      border: 1px solid #dddddd;
      padding: 10px;
    }
  }
}
@media only screen and (max-device-width : 768px) {
  .BBOX{
    color: #333;
    box-sizing: border-box;
    .BOX{
  // box-sizing: border-box;
  width: 343px;
  margin-left: 20px;
  margin-top: 50px;
  
  .IMG{
    width:100%;
   img {
    width: 343px;
    height: 343px;
   }
  }
  .DESC{
    margin-top: 30px;
    
    ._1box{
      border: 1px solid #dddddd;
      .name{
        margin-top: 30px;
        font-size: 24px;
        font-weight: 600;
        margin-left: 20px;
      }
      .publishName{
        margin-top: 20px;
        margin-left: 40px;
      }
      .summary{
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
      }

    }
    ._2box{
      margin-top: 20px;
      border: 1px solid #dddddd;
      font-size: 12px;
      padding: 20px;
      .openTime{
        display: flex;
        justify-content: space-between;
      }
      .counts{
         display: flex;
         margin-top: 20px;
        justify-content: space-between;
        
      }

    }
          ._3box{
            display: flex;
            justify-content: center;
        .buy{
          font-size: 20px;
          width: 310px;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        

        }
       
      }
  }
}
.showList{
  margin: 20px;
  .title{
    margin-bottom: 20px;
  }
  .info{
    border: 1px solid #dddddd;
    .info-text{
      margin-top: 20px;
      margin-left: 20px;
      font-weight: 600;
      font-size: 18px;

    }
    .info-2{
      margin-top: 20px;
     .info-title{
      font-weight: 600;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
     }
    }
    .info-detail{
      padding: 20px;
      // margin: 10px;
      // border: 1px solid #dddddd;
      // margin: 20px;
      .detai_1{
        display: flex;
        justify-content:space-between;
        font-size: 12px;
        .link{
           overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;

        }
        
      }
      .detai_2{
        display: flex;
        margin-top: 20px;
        justify-content:space-between;
        font-size: 12px;

      }


    }


  }
  .des{
    border: 1px solid #dddddd;
    margin-top: 20px;
    .txt{
      font-weight: 600;
      font-size: 18px;
      margin-top: 20px;
      margin-left: 30px;
    }
    .text{
      //  border: 1px solid #dddddd;
       margin: 20px;
       
    }

  }
  .know-power{
    margin-top: 20px;
    .txt{
      font-weight: 600;
      font-size: 18px;
    }
    .text{
     
    }
  }
  .flex{
    .mystery-Box{
     padding-bottom: 20px;
      .mystery-box{
        border: 1px solid #dddddd;
        padding: 20px;
        width: 343px;
        .BOX-IMG{
          img{
            width: 303px;
            height: 300px;
          }
        }
        .title{
          font-weight: 600;
          font-size: 18px;
          margin-top: 20px;
        }

      }
    }
  }
  .know-power{
    border: 1px solid #dddddd;
    .txt{
      
      margin-left: 20px;
      margin-top: 10px;

    }
    .text{
      border: 1px solid #dddddd;
      margin: 20px;
      margin-top: 10px;
    }

  }
  .know-buy{
    margin-top: 20px;
  }


}
  }

}
